# Environments
.env
venv/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Databases & logs
*.log
notifications.log


# Credentials & Keys
*.pem
private_key.pem
public_key.pem

# Vector databases / indices
TEMP_REPO/


# Executables & installers
*.exe
nssm.exe

# IDE configs
.idea/
.vscode/
