fastapi
uvicorn
requests
python-dotenv
pydantic>=2.0
urllib3
cryptography
httpx
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-openai
faiss-cpu
pypdf
openai
redis
celery
pyodbc

